NET "O1[0]" LOC = P5;
NET "O1[1]" LOC = N5;
NET "O1[2]" LOC = N6;
NET "O1[3]" LOC = P7;

NET "O2[0]" LOC = N12;
NET "O2[1]" LOC = L14;
NET "O2[2]" LOC = L13;
NET "O2[3]" LOC = K14;

NET "O3[0]" LOC = M2;
NET "O3[1]" LOC = M1;
NET "O3[2]" LOC = L2;
NET "O3[3]" LOC = L1;

NET "O4[0]" LOC = K1;
NET "O4[1]" LOC = J2;
NET "O4[2]" LOC = J1;
NET "O4[3]" LOC = G2;

NET "ST1" LOC = P12;
NET "ST2" LOC = K13;
NET "ST3" LOC = K2;
NET "ST4" LOC = G1;

NET "rotatif_A" LOC = A2;
NET "rotatif_B" LOC = B3;

NET "BP" LOC = A3;
NET "CLK" LOC = N8;

NET "capteur" LOC = H2;
NET "CORRECT" LOC = D14;
NET "DEFAUT" LOC = D13;
NET "ERREUR" LOC = C13;

NET "Freq" LOC = J14;

NET "O1[0]" IOSTANDARD = LVCMOS33;
NET "O1[1]" IOSTANDARD = LVCMOS33;
NET "O1[2]" IOSTANDARD = LVCMOS33;
NET "O1[3]" IOSTANDARD = LVCMOS33;

NET "O2[0]" IOSTANDARD = LVCMOS33;
NET "O2[1]" IOSTANDARD = LVCMOS33;
NET "O2[2]" IOSTANDARD = LVCMOS33;
NET "O2[3]" IOSTANDARD = LVCMOS33;

NET "O3[0]" IOSTANDARD = LVCMOS33;
NET "O3[1]" IOSTANDARD = LVCMOS33;
NET "O3[2]" IOSTANDARD = LVCMOS33;
NET "O3[3]" IOSTANDARD = LVCMOS33;

NET "O4[0]" IOSTANDARD = LVCMOS33;
NET "O4[1]" IOSTANDARD = LVCMOS33;
NET "O4[2]" IOSTANDARD = LVCMOS33;
NET "O4[3]" IOSTANDARD = LVCMOS33;

NET "ST1" IOSTANDARD = LVCMOS33;
NET "ST2" IOSTANDARD = LVCMOS33;
NET "ST3" IOSTANDARD = LVCMOS33;
NET "ST4" IOSTANDARD = LVCMOS33;

NET "BP" IOSTANDARD = LVCMOS33;
NET "capteur" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "CORRECT" IOSTANDARD = LVCMOS33;
NET "DEFAUT" IOSTANDARD = LVCMOS33;
NET "ERREUR" IOSTANDARD = LVCMOS33;
NET "Freq" IOSTANDARD = LVCMOS33;
NET "rotatif_A" IOSTANDARD = LVCMOS33;
NET "rotatif_B" IOSTANDARD = LVCMOS33;


# PlanAhead Generated IO constraints 
