//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 08 17:17:47 2021
//! **************************************************************************

SCHEMATIC START;
COMP "BP" LOCATE = SITE "A3" LEVEL 1;
COMP "DEFAUT" LOCATE = SITE "D13" LEVEL 1;
COMP "rotatif_A" LOCATE = SITE "A2" LEVEL 1;
COMP "rotatif_B" LOCATE = SITE "B3" LEVEL 1;
COMP "Freq" LOCATE = SITE "J14" LEVEL 1;
COMP "O1<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "O1<1>" LOCATE = SITE "N5" LEVEL 1;
COMP "O1<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "O1<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "O2<0>" LOCATE = SITE "N12" LEVEL 1;
COMP "ST1" LOCATE = SITE "P12" LEVEL 1;
COMP "O2<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "ST2" LOCATE = SITE "K13" LEVEL 1;
COMP "ST3" LOCATE = SITE "K2" LEVEL 1;
COMP "O2<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "ST4" LOCATE = SITE "G1" LEVEL 1;
COMP "O2<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "O3<0>" LOCATE = SITE "M2" LEVEL 1;
COMP "O3<1>" LOCATE = SITE "M1" LEVEL 1;
COMP "O3<2>" LOCATE = SITE "L2" LEVEL 1;
COMP "O3<3>" LOCATE = SITE "L1" LEVEL 1;
COMP "ERREUR" LOCATE = SITE "C13" LEVEL 1;
COMP "O4<0>" LOCATE = SITE "K1" LEVEL 1;
COMP "O4<1>" LOCATE = SITE "J2" LEVEL 1;
COMP "O4<2>" LOCATE = SITE "J1" LEVEL 1;
COMP "O4<3>" LOCATE = SITE "G2" LEVEL 1;
COMP "capteur" LOCATE = SITE "H2" LEVEL 1;
COMP "CORRECT" LOCATE = SITE "D14" LEVEL 1;
COMP "CLK" LOCATE = SITE "N8" LEVEL 1;
SCHEMATIC END;

