//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 15 11:45:08 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Cathodes<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "Cathodes<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "Anodes<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "DataTwo<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "Anodes<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "DataTwo<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "Anodes<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "DataTwo<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "Anodes<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "DataTwo<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "DataOne<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "DataOne<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "DataOne<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "DataOne<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "Horloge" LOCATE = SITE "M6" LEVEL 1;
COMP "Cathodes<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "Cathodes<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "Cathodes<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "Cathodes<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "Cathodes<4>" LOCATE = SITE "P12" LEVEL 1;
NET "Horloge_BUFGP/IBUFG" BEL "Horloge_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

